<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Add User</title>
    <link
            rel="stylesheet"
            href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <nav class="navbar navbar-inverse"><div class="container-fluid"><a class="navbar-brand" href="#">Patient Booking</a></div></nav>
</head>
<body>
<h1>Welcome</h1>
<a class="btn btn-info" th:href="@{/register}">Register</a>
<a class="btn btn-info" th:href="@{/login}">Login</a>
</body>
</html>